				@font-face {
					font-family: 'gotham';
					src: url('6721Gotham.woff2') format('woff2'),
						url('6721Gotham.woff') format('woff');
					font-display: auto;
				}

				.gotham{font-family: 'gotham' !important;}

						@font-face {
					font-family: 'paytone';
					src: url('5567Paytone.woff2') format('woff2'),
						url('5567Paytone.woff') format('woff');
					font-display: auto;
				}

				.paytone{font-family: 'paytone' !important;}

						body, p, li, .gp_link_wrapper{
					font-family: 'gotham' !important;
				}
						h2, h3{
					font-family: 'paytone' !important;
				}
						.menu-main-menu-en-b2b-container li a, .menu-main-menu-en-b2b-container li span, #menu-main-menu-en-b2b li a, #menu-main-menu-en-b2b li span, .menu-main-menu-en-b2b-2in1-container li a, .menu-main-menu-en-b2b-2in1-container li span, #menu-main-menu-en-b2b-2in1 li a, #menu-main-menu-en-b2b-2in1 li span, .menu-main-menu-en-b2c-container li a, .menu-main-menu-en-b2c-container li span, #menu-main-menu-en-b2c li a, #menu-main-menu-en-b2c li span{
					font-family: 'paytone' !important;
				}
						.menu-main-menu-en-container li a, .menu-main-menu-en-container li span, #menu-main-menu-en li a, #menu-main-menu-en li span, .menu-menu-id-container li a, .menu-menu-id-container li span, #menu-menu-id li a, #menu-menu-id li span, .menu-menu-jpn-container li a, .menu-menu-jpn-container li span, #menu-menu-jpn li a, #menu-menu-jpn li span, .menu-menu-kr-container li a, .menu-menu-kr-container li span, #menu-menu-kr li a, #menu-menu-kr li span, .menu-menu-th-container li a, .menu-menu-th-container li span, #menu-menu-th li a, #menu-menu-th li span, .menu-menu-vn-container li a, .menu-menu-vn-container li span, #menu-menu-vn li a, #menu-menu-vn li span{
					font-family: 'paytone' !important;
				}
						.title.title_size_large h1{
					font-family: 'paytone' !important;
				}
						.qbutton{
					font-family: 'paytone' !important;
				}
		